{% extends "ShopBundle::base.html.twig" %}

{% block title %}
    {{ parent() }} - {{ category.seo.title }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>{{ category.title }}</h1>
                    <p>
                        {{ category.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {% for product in products %}
            {% if loop.index0 % 3 == 0 %}<div class="row">{% endif %}
            <div class="col-md-4 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>{{ product.title }}</h3>
                        {% if product.images|length > 0 %}
                            {% set image = product.images|first %}
                            <img src="{{ image|image_path }}" alt="{{ image.alt }}" class="img-responsive">
                        {% else %}
                            {# TODO Default image ? #}
                        {% endif %}
                    </div>
                    <div class="panel-footer">
                        <p>
                            <strong style="display:inline-block; padding: 5px 10px; font-size: 16px; line-height: 1.5;">
                                {{ product.price|localizedcurrency('EUR') }}
                            </strong>
                            <a href="{{ path('shop_cart_add', {'productId': product.id}) }}" class="btn btn-sm btn-primary">
                                Ajouter au panier
                            </a>
                            <a href="{{ path('shop_catalog_product', {'categorySlug': category.slug, 'productSlug': product.slug}) }}"
                               class="btn btn-sm btn-primary">
                                En savoir plus
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            {% if loop.index % 3 == 0 or loop.last %}</div>{% endif %}
        {% endfor %}
    </div>
{% endblock content %}
